.card {
  width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}
.card__content {
  display: flex;
  justify-content: space-between;
}

.card__title {
  font-size: 20px;
  line-height: 120%;
  margin: 12px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-image: url(../images/like-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  margin-top: 12px;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 100%;
}

@media screen and (max-width: 630px) {
  .card {
    width: 288px;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }
  .card__title {
    font-size: 16px;
    line-height: 100%;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
