.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  padding: 0 10px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  /* position: relative; */
  max-width: 730px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 32px 50px;
}

.modal__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 32px;
}

.modal__title {
  font-size: 32px;
  padding: 0;
  margin: 0;
}

.modal__close-btn {
  width: 40px;
  height: 40px;
  opacity: 40%;
  margin: 0;
  padding: 0;
  /* position: absolute;
  top: 32px;
  right: 50px; */
  border: 0;
  background: none;
}

.modal__close-btn:hover {
  opacity: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal__label {
  font-size: 16px;
  line-height: 110%;
  color: #212121b2;
}

.modal__input {
  margin-top: 8px;
  width: calc(100% - 26px);
  font-size: 20px;
  color: #212121;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid #21212166;
}

.modal__input::placeholder {
  opacity: 30%;
}

.modal__input:hover {
  border: 1px solid #212121;
}

.modal__submit-btn {
  background-color: #212121;
  color: #fcf5e5;
  width: 156px;
  height: 52px;
  padding: 18px 32px;
  border-radius: 8px;
  font-size: 16px;
}

@media screen and (max-width: 630px) {
  .modal__container {
    max-width: 300px;
    padding: 12px;
  }

  .modal__row {
    margin-bottom: 24px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__form {
    gap: 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
    height: 52px;
    padding: 18px;
  }
}
