.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}
.profile__avatar {
  height: 190px;
  width: 190px;
  border-radius: 8px;
}
.profile__column {
  margin-left: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 420px;
}
.profile__name {
  margin: 0;
  font-size: 32px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.profile__description {
  font-size: 16px;
  margin: 12px 0 0;
  opacity: 70%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.profile__edit-button {
  margin-top: auto;
  padding: 0;
  background-color: transparent;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 70%;
}

.profile__edit-button:hover {
  opacity: 100%;
}

.profile__edit-button-icon {
  margin-right: 8px;
}
.profile__add-button {
  margin: auto 0 0 auto;
  height: 52px;
  width: 149px;
  border-radius: 8px;
  background-color: #212121;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profile__add-button:hover {
  opacity: 80%;
}

.profile__add-button-icon {
  margin-right: 8px;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0 20px;
  }

  .profile__avatar {
    height: 80px;
    width: 80px;
  }

  .profile__column {
    margin-left: 0;
  }

  .profile__name {
    margin: 12px 0 0;
    font-size: 20px;
  }

  .profile__description {
    font-size: 16px;
    margin: 6px 0 0;
  }

  .profile__edit-button {
    margin-top: 32px;
    justify-content: center;
  }

  .profile__add-button {
    margin: 20px 0 0;
  }
}
